In [2]:
import numpy as np 
import pandas as pd

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("weather_data.csv")

In [5]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [7]:
df.shape

(1000000, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  object
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB

In [9]:
df.nunique()

Location                 10
Date_Time            959526
Temperature_C       1000000
Humidity_pct        1000000
Precipitation_mm    1000000
Wind_Speed_kmh      1000000
dtype: int64

In [10]:
df['Date_Time']=pd.to_datetime(df['Date_Time'])
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [11]:
loc = df['Location']

In [12]:
loc.unique()

array(['San Diego', 'Philadelphia', 'San Antonio', 'San Jose', 'New York',
       'Houston', 'Dallas', 'Chicago', 'Los Angeles', 'Phoenix'],
      dtype=object)

In [15]:
def region_analyser(region):
    data=df[df['Location']==region]
    data=data.sort_values('Date_Time')
    data=data.reset_index()
    data=data.drop('index',axis=1)
    data=data.drop('Location',axis=1)
    data=data.set_index('Date_Time')
    return data

In [16]:
region_analyser('New York')

,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
Date_Time,,,,
2024-01-01 00:04:45,37.991348,64.202440,0.050219,24.157506
2024-01-01 00:04:52,8.191753,62.335497,8.601657,0.612134
2024-01-01 00:04:55,26.772471,87.385380,4.965877,8.243974
2024-01-01 00:08:07,9.503127,76.844316,8.458509,14.291018
2024-01-01 00:09:15,37.375306,44.161119,5.943673,1.220043
...,...,...,...,...
2024-05-18 19:24:37,14.096417,41.007459,6.508045,20.662923
2024-05-18 19:27:32,19.017720,71.363038,0.212933,10.161869
2024-05-18 19:29:20,39.699343,48.625874,9.560762,28.757319
2024-05-18 19:42:40,37.953960,88.537128,9.728751,25.742471
2024-05-18 19:43:55,7.679884,89.701606,6.760624,21.417264

In [18]:
region_analyser('Chicago')

,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
Date_Time,,,,
2024-01-01 00:03:25,5.222404,46.395687,6.984159,1.219788
2024-01-01 00:07:14,-6.403267,42.400326,0.451659,0.979239
2024-01-01 00:09:36,8.227097,58.197003,9.686955,10.769515
2024-01-01 00:10:35,-2.955866,86.983992,0.783134,20.737256
2024-01-01 00:10:59,28.382266,35.755630,0.064871,3.502880
...,...,...,...,...
2024-05-18 19:30:27,18.420175,37.991891,0.220687,1.380293
2024-05-18 19:31:33,27.795419,35.333834,0.227935,10.277667
2024-05-18 19:37:19,8.758851,44.499215,3.669220,29.218211
2024-05-18 19:43:25,24.974479,42.711505,2.522812,22.467531
2024-05-18 19:43:30,-1.561114,35.861711,8.802004,7.852678